<% if @humanized_show %>
<p class="alert alert-success">
	Humanized version: <%= @humanized %>
</p>
<% end %>

<div class="well">

	<%= form_tag(nil, :class=>"form-inline") do %>
		<div class="form-group">
			<%= label_tag(:numeral, "Numeric value:") %>
			<%= number_field_tag(:numeral, @numeral, :class=>"form-control") %>
		</div>
		<div class="form-group">
			<%= submit_tag("Submit",:class=>"btn btn-primary") %>
		</div>
	<% end %>

</div>
